@(message: String, moped: Option[Moped])(implicit flash: play.api.mvc.Flash)

@main("Moped") {
<div class="large-8 columns">
	<h2>@moped.get.title</h2>
	<p>
		Manufacured: @moped.get.manufactured
		<br />
		Manufacturer: <a href="@routes.Mopeds.showManufacturer(moped.get.manufacturer)">@moped.get.manufacturer</a>
		<br />
		<p>@moped.get.description
	</p>
	<p><a href="@routes.Mopeds.all">&lt;- Back to moped list</a></p>
</div>

<div class="row">
	@flash.get("success").map { message =>
	<div class="alert-box success">
		<strong>Done!</strong> @message
		<a href="" class="close">&times;</a>
	</div>
	}
</div>
}