@(message: String)

@main("Moped") {
	<div class="large-6 columns">
		<div class="panel">
			<h2>Welcome to moped.io</h2>
			<ul data-orbit>
				<li>
					<img src="@routes.Assets.at("images/slider/moped1.jpg")" />
					<div class="orbit-caption">Moped in the wild</div>
				</li>
				<li>
					<img src="@routes.Assets.at("images/slider/moped4.jpg")" />
					<div class="orbit-caption">Moped in bavaria</div>
				</li>
				<li>
					<img src="@routes.Assets.at("images/slider/moped3.jpg")" />
					<div class="orbit-caption">Moped at an exhibition</div>
				</li>
			</ul>
		</div>

	</div>
<div class="large-6 columns">
	<img src="@routes.Assets.at("images/slider/moped2.jpg")" />

</div>
<div class="row">
		<div class="large-12 columns">
			<div class="large-4 columns">
				<div class="panel">
					<h3>Schwoanshaxn</h3>
					<p>I mechad dee Schwoanshaxn fensdaln Resi Sauwedda naa nia hod oans, zwoa, gsuffa Heimatland kummd nomoi. Jo leck mi Kneedl so schee Bussal singd i Enzian gscheckate da Kini.</p>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="panel">
					<h3>Buachbinda</h3>
					<p>Heid gfoids ma sagrisch guad soi Gams Sepp aba! Spuiratz schüds nei imma wia da Buachbinda Wanninger Meidromml kimmt hinter’m Berg san a no Leit Landla.</p>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="panel">
					<h3>Enzian </h3>
					<p>Heid gfoids ma sagrisch guad soi Gams Sepp aba! Spuiratz schüds nei imma wia da Buachbinda Wanninger Meidromml kimmt hinter’m Berg san a no Leit Landla.</p>
				</div>
			</div>
		</div>

	</div>
}
