@(message: String)

@main("Moped") {
	<div class="large-8 columns">
		<div class="panel">
			<h2>Mopeds</h2>
			<p>Bavaria ipsum dolor sit amet Haberertanz Wiesn g’hupft wia gsprunga is des liab da, hog di hi oa so schee Schuabladdla? Auf der Oim, da gibt’s koa Sünd i daad griasd eich midnand Ewig und drei Dog. Und glei wirds no fui lustiga Schuabladdla Oachkatzlschwoaf, Xaver. Brezn greaßt eich nachad hawadere midananda Kuaschwanz auf’d Schellnsau Stubn mim. Nimma hoam Fingahaggln Jodler Kuaschwanz Schbozal sei hea sog i umananda! Anbandeln vui huift vui Blosmusi liberalitas Bavariae jo mei hi, oans, zwoa, gsuffa. Hob i an Suri kummd Schuabladdla, Spezi schnacksln. I hob di narrisch gean hi Bradwurschtsemmal ham, Trachtnhuat Schbozal Bussal: Umananda dringma aweng mi mim wiavui, ebba. Eana hogg di hera heitzdog mogsd a Bussal schaugn! Gschicht oba gar nia need, hod Breihaus. Dahoam dringma aweng Landla Spezi und sei midanand wea nia ausgähd, kummt nia hoam, hawadere midananda Sauakraud. Sog i barfuaßat.</p>
		</div>
	</div>

		<div class="large-4 columns">
			<img src="@routes.Assets.at("images/slider/moped3.jpg")" />

		</div>
}
