@(message: String)

@main(message) {
	<div class="large-8 columns">

		<h2>Impressum</h2><p>Angaben gemäß § 5 TMG:<br/><br/></p>
		<p>Universität Göttingen<br />
			Platz der Göttinger Sieben<br />
			37073 Göttingen
		</p>
		<h3>Vertreten durch:</h3>
		<p>Ingo Pfennigstorf</p>
		<h3>Kontakt:</h3>
		<table><tr>
			<td><p>Telefon:</p></td>
			<td><p>0551 39 10909</p></td></tr>
			<tr><td><p>Telefax:</p></td>
				<td><p>0551 39 10909</p></td></tr>
			<tr><td><p>E-Mail:</p></td>
				<td><p>pfennigstorf@@sub.uni-goettingen.de</p></td>
			</tr></table>
		<h3>Quellenangaben für die verwendeten Bilder und Grafiken:</h3>
		<p>flickr.com</p>

	</div>

	<div class="row">

	</div>
}